
.main_title {
  font-family: Roboto;
  margin: 15px 0px 15px 0px;
  padding: 0px 0px 0px 7px;
  border-left: 4px solid #232323;
  p {
    font-family: Marko One;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
  }

  h1 {
    font-family: Bitter;
    font-weight:bold;
    font-size: 48px;
    padding: 0px;
    margin: 0px;
  }
}

.blog_post {
    font-family: Cairo;
    font-size: 21px;
    padding-left:15px;
}