@import '../styles/main.scss';

* { padding: 0; margin: 0; }

html, body {
  height: 100%;
}


@import '../templates/index.scss';

body {
  font-family: sans-serif;
  background-color: $background-color;
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s, color 0.3s;
}


.main {
  max-width: 705px; //50
  margin-left: auto;
  margin-Right: auto;
  margin-top: 15px; //1
  background-color: #FAFCFF;
}

.content {
  max-width: 650px;
  margin: auto;
  padding: 5px; //2
}
